@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

section:not(.full-w) {
    @apply w-[85vw] mx-auto max-w-7xl;
}
